



$brand-primary: #d1c286 !default;
$brand-secondary: #a9974e !default; 

$brand-white: #fff;
$brand-black: #000;
$brand-darker: #444;
$brand-gray: #efefef;
$brand-lighter: #e9e9e9;
$brand-body-color: #818892;
$brand-selection-color: #f9f6f0;
$brand-overlay-color: #3b3d40;
$brand-bg-color: $brand-white;

$font-primary: 'Oswald', Arial, sans-serif;
$font-weight-heading:400;
$font-weight-paragraph:200;



$gradient-start :#d1c286;
$gradient-end :#a9974e;