@import "./abstracts/variables";
@import "./base/fonts";
@import "./abstracts/mixins";
@import "./abstracts/functions";
@import "./base/base";
@import "./base/helpers";
@import "./base/typography";
@import "./layout/header";

.float-child-1,.float-child-2 {
    float: right; 
} 

.top-navbar-links{
    display: none;
}

// slider section
.slider-section{
    background-image: url("../assets/images/img_bg_2.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    width: 100%;
    .slider-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .card-show{
            background: rgba(255,255,255,0.9);
            padding: 40px;
        }
    }

}

// country-section
.country-section{
    background-image: url("../assets/images/img_bg_5.jpg");
    background-size: cover;
    background-position: top center;
    position: relative;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    .slider-content{
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .card-show{
            background: rgba(255,255,255,0.9);
            padding: 40px;
            text-align: center;
        }
    }
}

// banner 
.banner-section {
    height: 600px;
    width: 100%;
    position: relative;
    .banner-content{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

}


// happy client section
.happy-client-section{
    background: $brand-gray;
    padding-bottom: 7rem;
    text-align: center;
    .slider-content{
        margin-top: -1rem;
        figure{
             img{
                 width: 100px;
                 
                 clip-path: circle();


             }
        }
        blockquote{
            p{
                width: 50%;
               margin: auto;
               line-height: 2rem;
               font-size: 1.2rem;

            }
        }

    }
}
// newletter
.new-letter-section{
background:  $brand-primary;
padding-bottom: 7rem;


}



// services section
.services{
    background: $brand-gray;
   

}


.wrap-Center-Content{
    position: relative;
    height: 100vh;
    width: 100%;
    .wrap-Center-Content-child{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
}


.product-section{
    padding-bottom: 7rem;
}

