@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap");
body {
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.7;
  color: #828282;
  letter-spacing: 0.02em;
  background: #fff;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
}

p {
  font-family: "Oswald", Arial, sans-serif;
  font-weight: 200;
  margin-bottom: 20px;
}

.heading-introduction-default {
  margin: 6rem 0rem 6rem 0rem;
}

::-webkit-selection {
  color: #fff;
  background: #d1c286;
}

::-moz-selection {
  color: #fff;
  background: #d1c286;
}

::selection {
  color: #fff;
  background: #d1c286;
}

.primary-btn {
  background: transparent;
  outline: none;
  border: 2px solid #d1c286;
  padding: 0.7rem 1.9rem;
}

.primary-btn:hover {
  background: #d1c286;
}

.primary-btn:hover a {
  color: #fff;
}

.primary-btn a {
  text-decoration: none;
  color: #d1c286;
  font-size: 1.2rem;
}

.overlay {
  z-index: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0 0 95% 95% / 10%;
  background-image: linear-gradient(110deg, #44050869 10%, #fd5e086b 100%);
}

.set-bg {
  background-image: url("../assets/images/banner-1.jpg");
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

header {
  background: brown;
  padding: 0.4rem;
  border: 2px solid red;
}

header .top-navbar-brand svg {
  width: 50%;
  height: auto;
}

header .top-navbar-brand a {
  font-size: 24px;
}

header .top-navbar-links {
  display: block;
}

@media (max-width: 767.98px) {
  header .top-navbar-links {
    display: none;
  }
}

header .top-navbar-icons {
  display: none;
}

header .top-navbar-icons a {
  font-size: 28px;
}

@media (max-width: 767.98px) {
  header .top-navbar-icons {
    display: block;
  }
}

.bottom-navbar {
  background: black;
  position: fixed;
  bottom: 0;
  z-index: 99;
  width: 100%;
  display: none;
}

@media (max-width: 767.98px) {
  .bottom-navbar {
    display: block;
  }
}

.bottom-navbar .bottom-icons {
  width: 100%;
  text-align: center;
}

.bottom-navbar .bottom-icons span {
  text-transform: uppercase;
}

.bottom-navbar .bottom-icons a {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.float-child-1, .float-child-2 {
  float: right;
}

.top-navbar-links {
  display: none;
}

.slider-section {
  background: url(../assets/images/Shoes1.png) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 0 0 85% 85% / 30%;
  height: 100vh;
  width: 100%;
}

@media (max-width: 767.98px) {
  .slider-section {
    height: 60vh;
  }
}

.slider-section .slider-content {
  overflow-x: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

@media (max-width: 767.98px) {
  .slider-section .slider-content {
    width: 100%;
    text-align: center;
  }
}

.slider-section .slider-content .card-show {
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
}

.slider-section .slider-content .card-show button {
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 50px;
  background: #440303;
  margin-bottom: 50px;
  -webkit-box-shadow: 0 3px 20px 0 #2001013b;
          box-shadow: 0 3px 20px 0 #2001013b;
}

.slider-section .slider-content .card-show button a {
  color: white;
  text-shadow: 1px 1px 1px #fff;
}

.slider-section .slider-content .card-show p {
  min-width: 100%;
  color: white;
  font-size: 18px;
}

@media (max-width: 767.98px) {
  .slider-section .slider-content .card-show {
    height: 60vh;
    background: none;
  }
  .slider-section .slider-content .card-show h1 {
    font-size: 40px;
    text-shadow: 1px 1px 1px #333;
    width: 100%;
  }
  .slider-section .slider-content .card-show P {
    width: 100%;
    font-size: 17px;
    text-shadow: 1px 1px 1px #333;
  }
  .slider-section .slider-content .card-show .card-img .shoesImg {
    width: 100%;
    height: auto;
  }
}

.categories-section {
  margin-top: 2rem;
}

.categories-section .cat-card {
  margin-top: 1rem;
  background-image: linear-gradient(145deg, #44050869 10%, #fd5e086b 100%);
}

.categories-section .cat-card img {
  max-width: 100%;
  height: auto;
}

.country-section {
  background-image: url("../assets/images/img_bg_5.jpg");
  background-size: cover;
  background-position: top center;
  position: relative;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
}

.country-section .slider-content {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.country-section .slider-content .card-show {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  text-align: center;
}

.banner-section {
  height: 600px;
  width: 100%;
  position: relative;
}

.banner-section .banner-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.happy-client-section {
  background: #efefef;
  padding-bottom: 7rem;
  text-align: center;
}

.happy-client-section .slider-content {
  margin-top: -1rem;
}

.happy-client-section .slider-content figure img {
  width: 100px;
  -webkit-clip-path: circle();
          clip-path: circle();
}

.happy-client-section .slider-content blockquote p {
  width: 50%;
  margin: auto;
  line-height: 2rem;
  font-size: 1.2rem;
}

.new-letter-section {
  background: #d1c286;
  padding-bottom: 7rem;
}

.services {
  background: #efefef;
}

.wrap-Center-Content {
  position: relative;
  height: 100vh;
  width: 100%;
}

.wrap-Center-Content .wrap-Center-Content-child {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.product-section {
  padding-bottom: 7rem;
}
/*# sourceMappingURL=main.css.map */